@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@500 & display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.navbar ul{
float:right;
margin-right: 20px;


}

.navbar ul li{
list-style:none;
display:inline-block;
margin: 0px 8px;
line-height: 85px;
}
.navbar ul li a{

color: white;
text-decoration: none;
font-size: 20px;
padding: 6px 13px;
font-family:Roboto;
}

.content{
    width: 100%;
    position: absolute;
    top: 40%;
    color:white;
text-align: center;
}

.content h1{
font-size:65px;
}

.content p{
    font-size:25px;
    margin: 10px auto;
}

button{
width: 200px;
padding: 15px 0;
border-radius: 35px;
margin: 20px;
text-align: center;
color: white;
cursor: pointer;
font-weight: 600px;
background-color: #add8e6;
font-size: 17px;
font-family: Roboto;
}

button:hover{
    color: black;
    transition: 1s;
}
div li a:hover{

    box-shadow: 0px 2px white;
}

body{
    background:
           linear-gradient(
             rgba(0, 0, 0, 0.7), 
             rgba(0, 0, 0, 0.7)
           ),
           url(laptop-gdbd1f4780_1920.jpg);
       }


       





